.elements {
  width: 880px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin:auto;
  padding-top: 42px;
  padding-left: 0px;
  gap:20px 17px;
}

.element {
  width:282px;
  height: 361px;
  display: flex;
  flex-direction: column;
}

.element__picture {
  width: 282px;
  min-height: 282px;
  border-radius: 15px 15px 0% 0%;
}

.element__info {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 25px 21px 31px 21px;
  border-radius: 0 0 15px 15px;
}

.element__text {
  color: #000;
  font-family: 'Inter', Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.element__like-button {
  background-color: white;
  border: none;
}

.element__img-like-button {
  background-color: white;
}

.element__img-like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.element__img-like-button-active {
  background: url(/images/buttons/botao_curtir_ativo.png) center no-repeat;
}
.element__trash {
  position: absolute;
  border: none;
  padding-top: 18px;
  padding-left: 249px;
  background-color: transparent;
}

.element__trash:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (min-width: 768px)  and (max-width: 1279px) {
  .elements {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 42px;
    gap:20px 20px;
  }
}

@media (min-width: 320px)  and (max-width: 767px) { 
  .elements {
    width: fit-content;
    display: grid;
    padding-left: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
    padding-top: 36px;
    gap:20px;
  }
}