.popup {
  display: none;
  position:fixed;
  flex-direction: column;
  width: 430px;
  height: auto;
  margin-top: 195px;
  margin-left: 35%;
  /* margin: 425px auto 425px auto; */
  background-color: white;
  z-index: 1;
  border-radius: 15px;
}

.popup_opened {
  display: flex;
}

/* .popup_transition {
  transition-timing-function: ease-in;
  transition-duration: 10s;
} AINDA EM TESTE*/

.popup__button-close {
  position: absolute;
  width: 40px;
  top: -70px;
  left: 420px;
  /*right: -415px; */
  color:white;
  font-family: 'Inter', Arial;
  font-size: 90px;
  font-style: normal;
  font-weight: 200;
  border:none;
  transform: rotate(-45deg);
  background-color: transparent;
}

.popup__button-close:hover {
  color:gray;
  cursor: pointer;
}

.popup__container{
  display: flex;
  width: fit-content;
  flex-direction: column;
  background-color: #FFF;
  align-items: baseline;
  margin: auto;
}

.popup__title{
  width: auto;
  padding-top: 34px;
  padding-bottom: 54px;
  background-color: white;
  color: #000;
  font-family: 'Inter', Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  }

.popup__name, .popup__subtitle{
  width: 358px;
  background-color: white;
  color: #000;
  font-family: 'Inter', Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border:none;
  border-bottom: 1px;
  border-color: gray;
  border-bottom-style: solid;
}

.popup__aboutme, .popup__link {
  width: 358px;
  padding-top: 43px;
  background-color: white;
  color: #000;
  font-family: 'Inter', Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 1px;
  border-color: gray;
  border-bottom-style: solid;

}
  
.popup__button-save, .popup__button-create { 
  width: 358px;
  margin-top: 61.34px;
  margin-bottom: 36.51px;
  padding-top: 13.66px;
  padding-bottom: 18.49px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: black;
}

.popup__button-save:hover, .popup__button-create:hover{
  background-color:gray;
}

@media (min-width: 501px)  and (max-width: 850px) {

.popup {
  margin-left:25%;
}

}

@media (min-width: 320px)  and (max-width: 500px) { 

.popup {
  width: 282px;
  height: fit-content;
  margin-top: 123px;
  margin-left: 19px;
}

.popup__button-close {
  width: 26px;
  top: -65px;
  left: 247px;
  right: 0px;
  color:white;
  font-family: 'Inter', Arial;
  font-size: 60px;
  font-style: normal;
  font-weight: 200;
}

.popup__container{
  margin-left: 22px;
}

.popup__title{
  padding-top: 25px;
  padding-bottom: 76px;
  color: #000;
  font-family: 'Inter', Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.popup__name, .popup__subtitle{
  width: 238px;
  padding-bottom: 9px;
  color: #000;
  font-family: 'Inter', Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup__aboutme, .popup__link {
  width: 238px;
  padding-top: 30px;
  color: #000;
  font-family: 'Inter', Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.popup__button-save, .popup__button-create { 
  width: 238px;
  margin-top: 46px;
  margin-bottom: 25px;
  padding-top: 14px;
  padding-bottom: 14px;

}

}